.main {
  text-align: center;
  font-size: 30px;
}

.main-visual {
  text-align: center;
  font-size: 30px;
  height: 1000px;
  line-height: 1000px;
}

.contents {
  margin-bottom: 80px;
  text-align: center;
}
