.main {
  text-align: center;
  font-size: 30px;
}

.main-visual {
  text-align: center;
  font-size: 30px;
  border: 1px solid white;
  height: 1000px;
  line-height: 1000px;
}

.contents {
  text-align: center;
  font-size: 30px;
  border: 1px solid white;
  height: 300px;
  line-height: 300px;
}
