.module {
  padding: 50px 0;
}

.splide_wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.slide_img {
  border-radius: 50%;
}

.splide_arrow {
  background: none;
}

.crosshair {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0.4;
  &:hover {
    animation: r1 1s linear;
    @keyframes r1 {
      0% {
        transform: rotate(0deg);
      }
      50% {
        scale: 0.5;
      }
      100% {
        scale: 1;
        transform: rotate(180deg);
      }
    }
  }
}
