.main {
  background: #0d0c0c;
  display: flex;
  padding: 8px 72px;
  align-items: center;
}

.logo {
  width: 30px;
  height: 30px;
  background: #d9d9d9;
}

.nav {
  margin: auto;
  max-width: 1055px;
}
